.row {
    display: flex;
    align-content: flex-start
}
    
.column {
padding: 10px;
flex-grow: 5;
align-content: flex-start
}

.imageColumn {
    padding: 10px;
    flex-grow: 1;
    align-content: flex-start
    }

    .imageHolder {
        background-color: aqua;
        border-radius: 25px;
        height: 100%;
        align-content: center;
        padding: 10px;
    }

img {
    height: 300px;
    width: auto;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
    border-radius: 25px;
}

.form-check {
    margin: 5px;
}