<div class="col-md-10">
    <form
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate>
        <div class="row">
            <div class="imageColumn">
                <img [src]="filePath">
            </div>
            <div class="column">
                <div class="form-group">
                    <h4><label for="name">Name</label></h4>
                    <input
                        type="text"
                        class="form-control"
                        name="name"
                        [(ngModel)]="form.name"
                        required
                        #name="ngModel"/>
                    <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="name.errors && f.submitted">
                        Name is required!
                    </div>
                    <br>
                    <h4><label for="desc">Description</label></h4>
                    <textarea
                        type="text"
                        class="form-control"
                        name="description"
                        [(ngModel)]="form.description"
                        required
                        #description="ngModel"></textarea>
                    <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="name.errors && f.submitted">
                        Name is required!
                    </div>
                    <br>
                    <h4><label for="Image">Image</label></h4>
                    <input
                        type="file"
                        (change)="onFileChanged($event)"
                        accept="image/*" 
                        class="form-control"
                        name="file"
                        [(ngModel)]="form.file"
                        required
                        #file="ngModel"/>
                    <div class="alert alert-danger" role="alert" *ngIf="name.errors && f.submitted">
                    Image is required!
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="dietColumn">
                <input class="form-check-input" type="checkbox" value="STANDARD" id="standardCheck" (change)="checkCheckBoxvalue($event)" [checked]="diets.includes('STANDARD')">
                <label class="form-check-label" for="standardCheck">
                Standard
                </label>
            </div>
            <div class="dietColumn">
                <input class="form-check-input" type="checkbox" value="LACTOSE_FREE" id="lactoseCheck" (change)="checkCheckBoxvalue($event)" [checked]="diets.includes('LACTOSE_FREE')">
                <label class="form-check-label" for="lactoseCheck">
                Lactose Free
                </label>
            </div>
            <div class="dietColumn">
                <input class="form-check-input" type="checkbox" value="GLUTEN_FREE" id="glutenCheck" (change)="checkCheckBoxvalue($event)" [checked]="diets.includes('GLUTEN_FREE')">
                <label class="form-check-label" for="glutenCheck">
                Gluten Free
                </label>
            </div>
            <div class="dietColumn">
                <input class="form-check-input" type="checkbox" value="VEGETARIAN" id="vegetCheck" (change)="checkCheckBoxvalue($event)" [checked]="diets.includes('VEGETARIAN')">
                <label class="form-check-label" for="vegetCheck">
                Vegetarian
                </label>
            </div>
            <div class="dietColumn">
                <input class="form-check-input" type="checkbox" value="VEGAN" id="veganCheck" (change)="checkCheckBoxvalue($event)" [checked]="diets.includes('VEGAN')">
                <label class="form-check-label" for="veganCheck">
                Vegan
                </label>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <table class="table table-borderless">
                    <thead>
                        <th>Name</th>
                        <th>Operation</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let ingridient of ingridients">
                            <td >{{ingridient}}</td>
                            <td><button type="button" class="btn btn-danger" (click)="removeIngridient(ingridient)"><i class="bi bi-trash-fill"></i></button></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="name" required #newIngridient/></td>
                            <td><button type="button" class="btn btn-success" (click)="addIngridient(newIngridient.value)"><i class="bi bi-plus-lg"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="submitColumn">
                <button class="btn btn-primary">
                    <h3><p *ngIf="!recipeId">Create Recipe</p><p *ngIf="recipeId">Update Recipe</p></h3>
                </button>
            </div>
        </div>
    </form>
</div>
<ng-template #loggedOut>
    Please login.
  </ng-template>
