<div class="col-md-12" *ngIf="token; else loggedOut">
  <div class="row" *ngFor="let recipe of recipes">
    <div class="imageHolder">
      <img src="{{recipe.imageURL}}"/>
    </div>
    <div class="titleHolder">
      <a [routerLink]="['/recipes', recipe.id]"><span class="title">{{recipe.name}}</span></a>
      <br>
      <a [routerLink]="['/users', recipe.user.id]">{{recipe.user.userName}}</a>
    </div>
    <div class="dietHolder">
      <div class="dietRow">
        <div class="dietContainer" *ngFor="let diet of recipe.diets">
          <button type="button" class="btn btn-primary btn-sm" disabled>{{diet}}</button>
        </div>
      </div>
    </div>
    <div class="likeHolder">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
      </svg>
      <strong><p class="likeCounter">{{recipe.likes.length}}</p></strong>
    </div>
    <div class="operationsHolder" *ngIf="user && user.id == currentUser.id">
      <div class="opButton">
        <button type="button" class="btn btn-danger" (click)="delRecipe(recipe.id)"><i class="bi bi-trash-fill"></i></button>
      </div>
      <div class="opButton">
        <a [routerLink]="['/recipes/edit', recipe.id]"><button type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button></a>
      </div>
    </div>
  </div>
</div>
<ng-template #loggedOut >
  <div class="messageHolder">
      <div class="col-md-3">
          Please login to acces this site.
      <br>
      <hr>
      <a [routerLink]="['/login']">
          <button type="button" class="btn btn-outline-danger btn-block">To Login Page</button>
      </a>
      </div>
  </div>
</ng-template>