<div class="col-md-10">
  <div class="row" *ngFor="let recipe of recipes">
    <div class="imageHolder">
      <img src="{{recipe.imageURL}}"/>
    </div>
    <div class="titleHolder">
      <a [routerLink]="['/recipes', recipe.id]"><span class="title">{{recipe.name}}</span></a>
      <br>
      <a [routerLink]="['/users', recipe.user.id]">{{recipe.user.userName}}</a>
    </div>
    <div class="dietHolder">
      <div class="dietRow">
        <div class="dietContainer" *ngFor="let diet of recipe.diets">
          <button type="button" class="btn btn-primary btn-sm" disabled>{{diet}}</button>
        </div>
      </div>
    </div>
    <div class="operationsHolder" *ngIf="user">
      <div class="opButton">
        <button type="button" class="btn btn-danger" (click)="delRecipe(recipe.id)"><i class="bi bi-trash-fill"></i></button>
      </div>
      <div class="opButton">
        <a [routerLink]="['/recipes/edit', recipe.id]"><button type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button></a>
      </div>
    </div>
  </div>
</div>