<div class="container">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">User</th>
        <th scope="col">Likes</th>
        <th scope="col" *ngIf="user">Operations</th>
      </tr>
    </thead>
    <tbody *ngIf="user">
        <tr *ngFor="let recipe of filterByUserId">
          <td>{{recipe.id}}</td>
          <td>{{recipe.name}}</td>
          <td>{{recipe.user}}</td>
          <td>{{recipe.likes}}</td>
          <td><button type="button" class="btn btn-danger" (click)="delRecipe(recipe.id)"><i class="bi bi-trash-fill"></i></button>
            <button type="button" class="btn btn-warning"><i class="bi bi-pencil-fill"></i></button></td>
        </tr>
    </tbody>
    <tbody *ngIf="!user">
      <tr *ngFor="let recipe of recipes">
        <td>{{recipe.id}}</td>
        <td>{{recipe.name}}</td>
        <td>{{recipe.user}}</td>
        <td>{{recipe.likes}}</td>
      </tr>
  </tbody>
  </table>
</div>