img {
    height: 100%;
    width: 100px;
    border-radius: 10px;
}

.row {
    display: flex;
    align-content: flex-start;
    flex-wrap: nowrap;
    background-color: #b1e5f2;
    border-radius: 25px;
    margin: 15px;
    text-align: center;
    box-shadow: 10px 10px 5px grey;
}

.dietRow {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    vertical-align: middle;
}

.dietContainer {
    margin: 2px;
}

.imageHolder {
    padding: 10px;
    width: fit-content;
    align-content: flex-start;
    border-radius: 25px;
}

.titleHolder {
    padding: 10px;
    align-content: flex-start;
    background-color: #b1e5f2;
    margin: 10px;
    padding: 10px;
    width: 100px;
    border-radius: 25px;
    text-align: left;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.dietHolder {
    padding: 10px;
    flex-grow: 4;
    align-content: flex-start;
    background-color: #b1e5f2;
    margin: 10px;
    border-radius: 25px;
    font-size: 20px;
    vertical-align: middle;
}

.operationsHolder {
    flex-grow: 1;
    min-width: 100px;
    align-content: flex-start;
    background-color: #b1e5f2;
    border-radius: 25px;
}

.likeHolder {
    min-width: 150px;
    align-content: flex-start;
    border-radius: 25px;
    padding-top: 15px;
}

.opButton {
    margin: 10px;
}

.messageHolder {
    text-align: center;
    font-weight: bolder;
    display: flex; 
    justify-content:center; 
    align-items:center;
    margin-top: 50px;
}