<div class="registerHolder">
    <div class="col-md-3">
      <div class="registerTitle">
        Login
        <br>
        to
        <br>
        RecipeBook
        </div>
        <hr>
        <form
        *ngIf="!isLoggedIn"
        name="form"
        (ngSubmit)="f.form.valid && onSubmit()"
        #f="ngForm"
        novalidate
        >
        <div class="form-group">
            <label for="email">Email</label>
            <input
            type="text"
            class="form-control"
            name="email"
            [(ngModel)]="form.email"
            required
            #email="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="email.errors && f.submitted"
            >
            Email is required!
            </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input
            type="password"
            class="form-control"
            name="password"
            [(ngModel)]="form.password"
            required
            minlength="6"
            #password="ngModel"
            />
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="password.errors && f.submitted"
            >
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">
                Password must be at least 6 characters
            </div>
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-primary btn-block">
            Login
            </button>
        </div>
        <div class="form-group">
            <div
            class="alert alert-danger"
            role="alert"
            *ngIf="f.submitted && isLoginFailed"
            >
            Login failed: {{ errorMessage }}
            </div>
        </div>
        <div class="alert alert-success" *ngIf="isLoggedIn">
        Logged in successfully.
        </div>
    </form>
        <hr>
        <div>
            <p id="notMember">Not a member yet?</p>
        </div>
        <div class="registerButtonHolder">
            <a [routerLink]="['/register']"><button class="btn btn-outline-primary btn-block" id="btn">
                Register
            </button></a>
        </div>
    </div>
</div>